:root {
    --color1: #b662c5;
    --color2: rgb(213, 130, 185);
}

html,
body {
    padding: 0;
    margin: 0;
}

body {
    font-family: sans-serif;
}

.hero {
    background-color: var(--color1);
    color: #fff;
    padding: 50px 30px;
    text-align: center;
    position: relative;
    margin-bottom: 15px;
}

.hero:before {
    content: "";
    /* fake section with no content to create visual as border*/
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 10px;
    background: linear-gradient(to left, var(--color2), var(--color1));
}

.hero:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 10px;
    background: linear-gradient(to right, var(--color2), var(--color1));
}

.hero h1 {
    font-weight: normal;
    font-size: 6rem;
    margin: 0;
}

.hero h2 {
    font-weight: normal;
    /* fw */
    font-size: 1.7rem;
    /* fsz1.7rem */
    margin: 0;
    /* m0 */
}

.filter_div {
    display: flex;
    justify-content: center;
}

.filter_div a {
    text-decoration: none;
    padding: 9px;
    color: var(--color1);
    border: 1px solid rgb(202, 190, 209);
    border-radius: 4px;
    margin: 4px;
}